.menu-item{
    width: 100%;
    background-color: rgb(202, 239, 241);
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-item-body{
    width: 100%;
    padding: 10px;
    margin: 5px;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

.menu-item:hover{
    background-color: rgb(183, 196, 240);
    cursor: pointer;
    font-size: 20px;
}

#help_video{
    margin:auto;
    max-width:50%;
    display:block;
    margin-bottom: 20px;
}

label[for=help_video]{
    font-size: 20px;
    margin-left: 25%;
}